* {
    margin: 0;
    padding: 0;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

body {
    font-family: arial,sans-serif;
    font-size: 100%;
    margin: 3em;
    background: #666;
    color: #fff;
}

.widget {
  display: flex;
  height: 330px;
  width: 600px;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.weatherIcon{
  flex: 1 100%;
  height: 90%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #FAFAFA;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  
}
.vid {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
}
  
.weatherInfo{
  flex: 0 0 70%;
  height: 40%;
  background: #080705;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.temperature{
  flex: 0 0 40%;
  width: 100%;
  font-size: 65px;
  display: flex;
  justify-content: space-around;
}
    
.description{
  flex: 0 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.weatherCondition{
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 100;
}
      
.place{
  font-size: 15px;
}
  
.date{
  flex: 0 0 30%;
  height: 40%;
  background: #70C1B3;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.buttonGroup {
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  width: 600px;
}

button {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color:#70C1B3;
}

button:hover {
  background-color:rgb(100, 129, 182);
}

input, select {
  width: 66%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 300px
}

label {
  width: 33%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color:#080705;
}

ul {
  padding: 12px;
  width:inhert;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color:#70C1B3;
}

ul li {
  padding: 5px;
  margin-left: 35px;
}

.pulsateButton {
  animation: pulsate 1.5s ease-out !important;
  animation-direction: alternate !important;
  animation-iteration-count: infinite !important;
}

@keyframes pulse {
  0%, 100% {
      background-color: blue;
  }

  50% {
      background-color: purple;
  }
}

@keyframes nudge {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes pulsate {
  0% {
      box-shadow: 0px 0px 0px 0px rgba(4, 151, 200, 1);
  }
  100% {
      box-shadow: 0px 0px 20px 20px rgba(4, 151, 200, 1);
      ;
  }
}



